html,
body {
    background: linear-gradient(#242424 0%, #121212 75%, #000000 100%);
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

button,
td,
th {
    color: #e0e0e0;
    font-size: 20px;
}

/*aside*/

aside #Navigation {
    border-right: 1px solid #ffff33;
    left: 0;
    min-height: 100vh;
    width: 150px;
}

#home-btn {
    margin-top: 40px;
}

.sidebar-btn {
    background: #0f0f0f;
    border: none;
    cursor: pointer;
    height: 40px;
    margin-top: 2px;
    transition: height 0.2s;
    width: 100%;
}

.sidebar-btn.active {
    height: 60px;
    color: #ffff33;
}

.sidebar-btn:not(.active):hover {
    background-color: #333333;
}

/*table*/

table {
    border-collapse: separate;
    border-spacing: 3px;
}

th,
td {
    background-color: #0f0f0f;
    border: none;
    height: 34px;
    padding: 2px 7px;
    text-align: center;
}

#tab1 tr:nth-child(2) th,
#tab1 tr:first-child th:nth-child(1),
#tab1 tr:first-child th:nth-child(2) {
    border-bottom: 1px solid #ffff33;
}

#tab2 tr:nth-child(3) th,
#tab2 tr:first-child th{
    border-bottom: 1px solid #ffff33;
}

#tab2 tr:first-child th:nth-child(4) {
    border: none;
}

tr:first-child th:first-child {
    border-top-left-radius: 12px;
}

tr:first-child th:last-child {
    border-top-right-radius: 12px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

/*tabs*/

.tab-content {
    display: none;
}

.tab-content input[type="number"] {
    text-align: center;
    width: 40px;
}

.tab-content.active {
    display: block;
}

#tabs {
    margin: 0 auto;
    max-width: 85%;
    padding-top: 40px;
}

/**/

.img  {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}